@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap");

* {
  font-family: "Inconsolata";
  color: #333;
}

a {
  color: #e02f49;
  text-decoration: none;
}

a:hover {
  color: #61141f;
}

li {
  list-style-type: none;
  padding: 5px 0;
}

.container {
  width: 50%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: inline-block;
  margin-left: 1rem;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  padding: 0px;
}

button {
  padding: 2px;
  border-width: 0;
  background-color: transparent;
}

section {
  margin-top: 10rem;
  padding: 10px;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.project-image {
  width: auto;
  height: 95%;
  margin-right: 20px;
}

.project-list {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 260px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  color: gray;
  font-weight: 300;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    margin: auto;
  }
  nav {
    flex-direction: column;
  }
  .nav-right {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .nav-list {
    margin-left: 0px;
  }
  section {
    text-align: center;
  }
}
