*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text";
}

.container {
  gap: 1rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(235, 16%, 14%);
  background-image: url("./images/bg-stars.svg");
}

.container > p {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 7rem;
  text-align: center;
}

/* ✅ */
.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  font-size: 4rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
/* 
  added .top-filp and bottom-flip div in js
  because this way we can have 4 same elements
  inside all nested inside one parent.
*/
.top,
.bottom,
.top-flip,
.bottom-flip {
  background-color: hsl(236, 21%, 26%);
  color: hsl(345, 95%, 68%);
  font-weight: bold;
  /* used em for height so it's height 
     is relative to the font-size,
     * made it .75 to reduce the height
       instead of .50 because we wanted
       a padding of .25, to give it breathing room.
  */
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  border-radius: 0.08em;
  /* hidden the overflow so we can cut half
     of the content
  */
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 1.2em;
}

.top,
.flip-card .top-flip {
  border-bottom: 0.005em solid hsl(234, 17%, 12%);
}

.bottom,
.flip-card .bottom-flip {
  display: flex;
  align-items: flex-end;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-up 250ms ease-in;
  transform-origin: bottom;
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: rotateX(90deg);
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
}

@keyframes flip-up {
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.segments-container {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  justify-content: center;
}

.segments {
  display: flex;
  gap: 0.4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.segment > h1 {
  font-size: 1em;
  color: #8385a9;
  margin-top: 0.6rem;
}

.footer {
  position: absolute;
  bottom: 0;
  background-image: url("./images/pattern-hills.svg");
  height: 197px;
  width: 100vw;
  object-fit: fill;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > a {
  margin-top: 2rem;
  margin-right: 2rem;
}

.logo:hover {
  fill: hsl(345, 95%, 68%);
}
